extends layout

block content
  h1 Owave
  h3 An Outlook Analytics App
  .row
    .col-sm-6
      h2 Version 1.2.0 Released!
      p Login, Play around, Gain insights.
      p
        a.btn.btn-default(href='/Analytics-Dashboard', role='button') Take a Look »
    .col-sm-6
      h2 Become a Case Study.
      p Free Analytics! Tell us how you like the service and get a 6 month free trial!
      p
        a.btn.btn-default(href='/contact', role='button') Contact Us »
